@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Poppins:wght@400;700&display=swap');

:root
{
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'PT Serif', serif;
    --primary-color: #E3F0FF;
    --secondary-color: #485B72;
}

.main-body
{
    height: 100vh;
    min-width: 100%;
    background-image: url("img/main-bg.svg");
    background-size: cover;
}

.place-items-center
{
    display: grid;
    place-items: center;
    grid-template-rows: 0.1fr .8fr;
}

#navbarNavDropdown
{
    font-family: var(--main-font);
    font-size: 16px;
}

#navbarNavDropdown a
{
    color: var(--primary-color);
    font-weight: 700;
}

.dropdown-menu
{
    background-color: var(--secondary-color);
}

.index-hero-text h1
{
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 62px;
}
.index-hero-text button
{
    font-family: var(--main-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}
.index-hero-text button a
{
    padding: 15px;
}
.index-hero-text p
{
    font-family: var(--secondary-font);
    color: white;
    font-size: 18px;
}

#navbarNavDropdown .active
{
    color: var(--secondary-color);
}
#navbarNavDropdown a:hover
{
    color: var(--secondary-color);
}
/* ------------ END OF INDEX STYLING ----*/

.dc-main-container
{

    background-image: url("img/main-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.dc-content-body
{

    background-color: #f6f6f6;
    width: 80%;
    padding-bottom: 200px;
    min-height: 200vh;
}
.margin-border
{
    height: 50px;
    padding-top: 10px;
    background-color: var(--secondary-color);
}
.dc-hero-img
{
    height: 300px;
    color: #f6f6f6;
    background-image: url("img/dc-hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dc-hero-text h1
{
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    max-width: 30ch;
}
.dc-hero-text p
{
    font-family: var(--secondary-font);
    font-size: 16px;
}
.dc-hero-text
{
    margin-left: 60px;
}

.dc-border-bottom
{
    height:80px;

}

.dc-section
{
    width: 80%;
    margin: 0 auto;
    height: 500px;
}

.dc-img
{
    display: grid;
    place-items: center;
}


.dc-section-text h1
{
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-weight: 700;
}

.dc-section-text p, .dc-text
{
    font-family: var(--secondary-font);
    color: #475B72;
    margin-top: 1rem;
    font-size: 18px;
}
.dc-second-section
{
    padding-top: 60px;
}
.dc-second-section h1
{
    font-family: var(--main-font);
    font-size: 31px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 50px;
}
.boxes-container
{
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.box
{

    height: 100px;
    background-color: var(--secondary-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: grid;
    place-items: center;
    border: 4px solid #9AA8F1;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #f6f6f6;
    text-transform: uppercase;
}

.dc-third
{
    background-color: #f6f6f6;
    padding-top: 80px;
    border-top: solid 2px var(--secondary-color);
}

/* ------------ END OF DATA CENTER STYLING ----*/

.dt-content-body
{
    background-color: #f6f6f6;
    font-family: var(--main-font);
    padding-bottom: 200px;
}

.number-box
{
    height: 120px;
    width: 200px;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}
.number-box h1
{
    font-family: var(--main-font);
    font-size: 100px;
    color: #f6f6f6;
    font-weight: 700;
}


@media (max-width: 800px)
{
    .dc-hero-text
    {
        margin-left: 0;
        text-align: center;
    }

    .boxes-container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.right {
    float: right;
    margin-bottom: 100px;
}